/* Andrea Gutierrez Blanco
/*Programacion Avanzada
/*Estilo del Login de la pagina de Twitter Login_Style.css
/* -------------------------------------------------------*/
/* Estilo toda la pagina visible*/
body {
	  background: #E8F5FD
	}
/* Estilo principal del Login (class="Login_Container")*/
.Login_Container{
	color: #000000;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 30px 5px #CFEFF7;
}
/* Estilo Iconos (img)*/
img{
    margin: 3px;
}
/* Estilo Box1 Google y Apple (class="box1")*/
.box1 {
    text-align : center;
}
/* Estilo Box2 Formulario Usuario y Contrsena (class="box2")*/
.box2{
    text-align : center;
}
/* Estilo Box1 bontones (class="box3")*/
.box3{
    text-align : center;
}
/* Estilo de los Botones en General (button)*/
button{
    color:#000000 ;
    background:#ffffff;
    border: 1px solid #C2C2C2;
    display: flex;
    align-items: center;
    width: 300px;
    height: 30px;
    outline: none;
    font-weight: bold;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align : center;
    border-radius: 20px;
    margin: 10px;
}
/* Estilo de Boton (id="login-form")*/
#login_boton{
    color:#ffffff;
    background:#08A0E9 ;
    width: 300px;
    height: 35px;
    outline: none;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align : center;
    border-radius: 25px;
    margin: 5px;
}
/* Estilo de los Formularios (input)*/
input{
    color:#000000 ;
    width: 300px;
    height: 30px;
    background-color: #E8F5FD;
    outline: none;
    font-weight: bold;
    border: 2px solid #08A0E9;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align : center;
    border-radius: 20px;
    border: none;
    margin: 5px;
}

/* Estilo del link (a)*/
a{
  color: #08A0E9;
}
