/* Andrea Gutierrez Blanco*/
/* Programacion Avanzada*/
/* Estilo de Inicio de Twitter Style.css*/
/* -------------------------------------------------------*/
/* Estilo toda la pagina */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Estilo toda la pagina visible 1 -------------------*/
body{
	color: #000000;
background: #ffffff;
font-family: 'Poppins', sans-serif;
}
/* BARRA DE MENU -----------------------------------------------------------------*/
/* Estilo de iconos (id=Iconos)*/
#Icons{
	padding: 10px;
}
/* Estilo de los Botones de Opcion (class="MenubarOption")*/
.MenubarOption{
	display: flex;
	align-items: center;
	cursor: pointer;
}
/* Estilo de texto de Opciones (Elementos H3)*/
h3{
	font-weight: 600;
	font-size: 15px;
	margin-right: 510;
}
/* Estilo de texto con el cursor (class="MenubarOption")*/
.MenubarOption:hover {
	background-color:#E8F5FD;
	border-radius: 30px;
	color: #08A0E9;
	transition: color 100ms ease-out;
}
/* Estilo de Boton de Opciones (class="Menubar_Boton")*/
.Menubar_Boton{
		width: 100%;
		color: #ffffff;
		background: #08A0E9;
		border-radius: 25px;
		border: none;
		font-weight: 900;
		height: 50px;
		margin-top: 10px;
		font-family: 'Poppins', sans-serif;
}
/* Estilo toda la pagina visible 2 -------------------*/
body{
	display: flex;
	height: 100vh;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}
/* Estilo del area de Menu (class="Munebar")*/
.Menubar{
border-right: 1px solid #E8F5FD;
flex: 0.2;
min-width: 250px;
margin-top: 20px;
padding-left: 20px;
padding-right: 20px;
}
/* LINEA DE TIEMPO -----------------------------------------------------------------*/
/*Ocultar la barra de desplasamiento*/
::-webkit-scrollbar{
	display: none;
}
/* Estilo Zona Princiapal Cental (class="Content")*/
.Content {
	flex: 0.5;
	border-right: 1px solid #E8F5FD;
	min-width: fit-content;
	overflow-y: auto ;
	scroll-behavior: initial;
}
	/* Estilo Titulo Inicio (class="Content_header")*/
	.Content_header{
		position: sticky;
		background-color: #ffffff;
		z-index: 100;
		border: 1px solid #E8F5FD;
		padding: 15px 20px;
		}
		/* Estilo de Titulo Inicio (Elementos H2)*/
		h2{
			font-weight: 800;
			font-size: 22px;
		}
	/* Estilo de Zona de Escritura (class="TweetBox")*/
	.TweetBox{
		padding-bottom: 10px;
		border-bottom: 1px solid #E8F5FD;
		padding-right: 10px;
	}
	/* Estilo de Zona de Escritura en formulario (class="TweetBox" form)*/
	.TweetBox form{
		display: flex;
		flex-direction: column;
	}
		/* Estilo de Zona de Escritura Foto de Perfil 1 (class="TweetBox_input")*/
	.TweetBox_input{
		display: flex;
		padding: 20px;}
	
	    
		/* Estilo de Zona de Escritura Foto de Perfil (class="TweetBox_input" img)*/
		.TweetBox_input img{
			height: 50px;}
		/* Estilo de Zona de Escritura Iconos de Tweet (class="TweetBox_icons")*/
		.TweetBox_icons{
			display: flex;
			justify-content: left;
			margin-left: 90px;
			color: #08A0E9;
			max-width: 600px;
		}
		#Tweet_icons{
			margin-right: 15px;

		}
		/* Estilo de Zona de Escritura Texto (class="TweetBox_input") input */
		.TweetBox_input input{
			font-family: 'Poppins', sans-serif;
			display: flex;
			margin-left: 20px;
			font-size: 15px;
			border: none;
			outline: none;
		}
		/* Estilo de Zona de Boton de Tweet (class="TweetBox_Button")*/
		.TweetBox_Button{
			background-color: #08A0E9;
			color:#ffffff ;
			font-weight: 800;
			font-family: 'Poppins', sans-serif;
			border-radius: 25px;
			border: none;
			width: 70px;
			height: 40px;
			margin-top: 15px;
			margin-left: auto;
		}
	/* Area de Post o Publicaciones-------------*/
	/* Estilo de Foto de Perfil (class="post_avatar") img*/
	.post_avatar img{
		height: 50px;
		position: relative
	}
	/* Estilo de Post (class="post")*/
	.post{
		display: flex;
		align-items: flex-start;
		border-bottom: 1px #E8F5FD;
		padding-bottom: 10px;
	}
	/* Estilo de Post Nombre Imagen y Descripcion (class="post_body") img*/
	.post_body img{
		width: 500px;
		object-fit: contain;
		border-radius: 15px;
	}
	/* Estilo de Post Iconos de Barra de interaciones del Mensaje (class="post_icons")*/
	.post_icons{
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
		width: 500px;
	}
	/* Estilo de Post Iconos de Verificacion (id="verificacion")*/
	#check{
		font-size: 15px !important;
		color: #08A0E9 ;
		margin-right: 2px;
		padding: -10px;
	}
	/* Estilo de Post Iconos de Verificacion (class="post_headerSpecial")*/
	.post_headerSpecial{
		font-weight: 600;
		font-size: 15px;
		color: gray;
	}
	/* Estilo de Nombre de Perfiles de Post (Elementos H4)*/
	h4{
		font-size: 15px;
	}
	/* Estilo de Post Descripcion (class="post_headerDescription")*/
	.post_headerDescription{
		margin-bottom: 5px;
		font-size: 13px;
		width: 500px;
		text-align: justify;
	}
	/* Estilo de Post Nombre Imagen y Descripcion (class="post_bodyt")*/
	.post_body{
		flex: 1;
		padding: 10px;
	}
	/* Estilo de Post Foto de Perfil (class="post_avatar")*/
	.post_avatar{
		padding: 15px;
	}
/* BARRA LATERAL -----------------------------------------------------------------*/
/* Estilo de Barra Lateral (class="widgets")*/
.widgets{
	flex: 0.3;
}
/* Estilo de Buscador (class="widgets_input")*/
.widgets_input{
	display: flex;
	align-items: center;
	background-color: #E8F5FD;
	padding: 10px;
	border-radius: 20px;
	margin-top: 10px;
	margin-left: 20px;
}
/* Estilo de Buscador Texto (class="widgets_input") input*/
.widgets_input input{
	font-family: 'Poppins', sans-serif;
	background-color: #E8F5FD;
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	border: none;
	outline: none;
}
/* Estilo de Area de Tendencias (class="widgets_wigetContainer")*/
.widgets_wigetContainer{
	margin-top: 15px;
	margin-left: 20px;
	padding: 20px;
	background-color: #E8F5FD;
	border-radius: 15px;
}
/* Estilo de Area de Tendencias lista (class="widgets_wigetContainer") ul*/
.widgets_wigetContainer ul{
	font-size: 14px;
	border-bottom: 1px #08A0E9;
	margin-bottom: 10px;
	list-style: none;
}
/* Estilo de Pie de Pagina (id="Pie_Pagina")*/
#Footer{
	color: gray;
	font-size: 12px;
	margin-bottom: 10px;
	list-style: none;
	margin-left: 20px;
	padding: 20px;
}